# Ignore everything in $HOME by default
*

# Allow directories so git will descend into them
!.config/
!zsh_tool/
!.gnupg/


# Now allow the specific dotfiles you want tracked
!zsh_tool/*
!.config/*
!.gnupg/gpg-agent.conf

!.tmux.conf
!.zprofile
!.zshrc
!opencode.json
!README.md
