# Ignore everything in $HOME by default
*

# Allow directories so git will descend into them
!.config/
!.config/*
!zsh_tool/
!zsh_tool/*


# Now allow the specific dotfiles you want tracked
!.tmux.conf
!.zprofile
!.zshrc
!opencode.json
